<!DOCTYPE html>
<html lang="de" ng-app="coApp">
    <head>
        <meta charset="utf-8">
        <title><%= req.app.locals.pageTitle %></title>
        <meta name="description" content="mvcExpress">
        <meta name="author" content="Mike Bertram <contact@mibexx.de>">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body ng-controller="bodyController">